numba==0.51.0
streamlit
streamlit-option-menu
st-annotated-text
firebase_admin
pandas
bertopic
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
sentence-transformers
gdown
